
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
   
    <center><img src="~/Image/thankyou.png" style="height: 100%; width: 55%; margin-top: 10%;" /></center>


    
</body>
</html>
