
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div class="text-right">
        <a href="/home/SignOut" class="btn btn-sm btn-primary" style="margin-top: -6%;">Logout</a>
    </div>
    <center><img src="~/Image/thankyou.png" style="height: 100%; width: 55%; margin-top: 10%;" /></center>

</body>
</html>
